{% extends "index.html" %}
{% block navlinks %}
    <li> <a href="{{url_for('home')}}">Accueil</a> </li>
    <li> <a href="{{url_for('clients')}}">Clients</a> </li>
    <li> <a href="{{url_for('employes')}}"> Employés</a> </li>
    <li  class="active"> <a href="{{url_for('addcommand')}}">Commander</a> </li>
{% endblock %}
{% block header%}

        <!-- header inner -->
        <div class="headersHome">
            <div class="headersHomeTitles">
                <span>AJOUTER UNE COMMANDE</span>
            </div>
        </div>


{% block contents %}

        <div class="FormCommand">
            <div class="titleFormCommand">
                <h3>Selectionnez les données nécessaire</h3>
            </div>
            <div class="containerForm">
                <form method="POST">
                   
                
                        
                        {{ form.employe }}
                        
                        
                    
                    
                    
                </form>
            </div>
        </div>
{% endblock %}
{% endblock %}