{% extends "index.html" %}
{% block navlinks %}
    <li class="active"> <a href="{{url_for('home')}}">Accueil</a> </li>
    <li> <a href="{{url_for('clients')}}">Clients</a> </li>
    <li> <a href="{{url_for('employes')}}"> Employés</a> </li>
    <li> <a href="{{url_for('addcommand')}}">Commander</a> </li>
{% endblock %}
{% block header%}
{% for artist in unArtist %}
        <!-- header inner -->
        <div class="headersHome">
            <div class="headersHomeTitles">
                <span class="infoArtistTitle">ALBUMS DE L'ARTISTE</span> <span>{{artist.name}}
            </div>
        </div>
{% endfor %}
{% block contents %}
<div class="tableau">
    {% for albumArtist in albumsArtist %}
        <div class="caseTableau">
        	<div class="imgCase">
              <img src="{{url_for('static', filename='images/logo.jpg')}}"/>
        	</div>
            <div class="titreCase">
                <span><a href="{{url_for('album', albumId=albumArtist.album_id)}}">{{albumArtist.title}}</a></span>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
{% endblock %}