{% extends "index.html" %}
{% block navlinks %}
    <li> <a href="{{url_for('home')}}">Accueil</a> </li>
    <li> <a href="{{url_for('clients')}}">Clients</a> </li>
    <li class="active"> <a href="{{url_for('employes')}}"> Employés</a> </li>
    <li> <a href="{{url_for('addcommand')}}">Commander</a> </li>
{% endblock %}
{% block header%}
{% for employe in unEmploye %}
        <!-- header inner -->
        <div class="headersHome">
            <div class="headersHomeTitles">
                <span class="infoClientTitle">INFORMATION DE L'EMPLOYÉ</span>  <span>{{employe.first_name}} {{employe.last_name}}</span>
            </div>
        </div>
{% endfor %}


{% endblock %}