{% extends "index.html" %}
{% block navlinks %}
    <li> <a href="{{url_for('home')}}">Accueil</a> </li>
    <li class="active"> <a href="{{url_for('clients')}}">Clients</a> </li>
    <li> <a href="{{url_for('employes')}}"> Employés</a> </li>
    <li> <a href="{{url_for('addcommand')}}">Commander</a> </li>
{% endblock %}
{% block header%}
        <!-- header inner -->
        <div class="headersHome">
            <div class="headersHomeTitles">
                <span>LISTE DES CLIENTS</span>
            </div>
        </div>

{% block contents %}
<div class="tableau">
    {% for client in clients %}
        <div class="caseTableau">
        	<div class="imgCase">
              <img class="personImg" src="{{url_for('static', filename='images/anonym.jpeg')}}"/>
        	</div>
            <div class="titreCase">
                <span><a href="{{url_for('client', clientId=client.customer_id)}}">{{client.first_name}} {{client.last_name}}</a></span>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
{% endblock %}