<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Rock</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type=text/css href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <!-- style css -->
    <link rel="stylesheet" type=text/css href="{{url_for('static', filename='css/style.css')}}">
    <!-- Responsive-->
    <link rel="stylesheet" type=text/css href="{{url_for('static', filename='css/responsive.css')}}">
    <!-- fevicon -->
    <link rel="icon" href="{{url_for('static', filename='images/fevicon.png')}}" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" type=text/css href="{{url_for('static', filename='css/jquery.mCustomScrollbar.min.css')}}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="{{url_for('static', filename='images/loading.gif')}}" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="index.html"><img src="{{url_for('static', filename='images/logo.jpg')}}" alt="logo" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main">
                                    {% block navlinks %}
                                        <li class="active"> <a href="{{url_for('home')}}">Accueil</a> </li>
                                        <li> <a href="{{url_for('clients')}}">Clients</a> </li>
                                        <li> <a href="{{url_for('employes')}}"> Employés</a> </li>
                                        <li> <a href="{{url_for('addcommand')}}">Commander</a> </li>
                                    {% endblock %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                        <form class="search">
                            <input class="form-control" type="text" placeholder="Search">
                            <button><img src="{{url_for('static', filename='images/search_icon.png')}}"></button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end header inner -->
    </header>
    <!-- end header -->
    
    <!-- header -->
    <header>
    {% block header%}
        <!-- header inner -->
        <div class="headersHome">
            <div class="headersHomeTitles">
                <span>ARTISTES</span>
            </div>
        </div>
        {% block contents %}
        <div class="tableau">
            {% for artist in artists %}
            <div class="caseTableau">
                <div class="imgCase">
                    <img class="personImg" src="{{url_for('static', filename='images/anonym.jpeg')}}"/>
                </div>
                <div class="titreCase">
                    <span><a href="">{{artist.name}}</a></span>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endblock %}
        <div class="headersHome">
            <div class="headersHomeTitles">
                <span>ALBUMS</span>
            </div>
        </div>
        <div class="tableau">
           {% for album in albums %}
            <div class="caseTableau">
                <div class="imgCase">
                    <img src="{{url_for('static', filename='images/logo.jpg')}}"/>
                </div>
                <div class="titreCase">
                    <span><a href="">{{album.title}}</a></span>
                </div>
            </div>
            {% endfor %} 
        </div>
        <div class="headersHome">
            <div class="headersHomeTitles">
                <span>GENRES</span>
            </div>
        </div>
        <div class="tableau">
        {% for genre in genres %}
            <div class="caseTableau">
                <div class="imgCase">
                    <img src="{{url_for('static', filename='images/logo.jpg')}}"/>
                </div>
                <div class="titreCase">
                    <span> <a href="">{{genre.name}}</a></span>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endblock %}
    </header>
    <!-- end header -->
    
    
    
    <!-- Javascript files-->
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery-3.0.0.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/plugin.js')}}"></script>
    <!-- sidebar -->
    <script src="{{url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/custom.js')}}"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function() {

                $(this).addClass('transition');
            }, function() {

                $(this).removeClass('transition');
            });
        });
    </script>
</body>

</html>